body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card {
  height: 552px;
  width: 450px;
  padding: 10px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 5px;
  box-shadow: 15px 15px 20px gray;
  img {
    border: 3px solid wheat;
    border-radius: 5px;
  }
  h2,
  p {
    margin: 13px 0px 0px;
    padding: 0;
    text-align: center;
    color: white;
  }
  h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25pt;
    margin: 15px 0px 0px;
  }
}
